@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../img/fondo.jpg);
  font-family: 'Bebas Neue', cursive;
  color: #EEEE; }

.link-light {
  color: #EEEE; }
  .link-light a {
    color: #EEEE; }

.boton-curso {
  display: flex;
  justify-content: center; }
  .boton-curso a {
    text-decoration: none;
    color: #EEEE; }
  .boton-curso p {
    background-color: #d82121f1;
    border-radius: 7px;
    padding: 5px;
    font-size: 20px; }
    .boton-curso p:hover {
      text-decoration: underline;
      background-color: #b11f33f1; }

.cursos-main {
  background-image: url(../img/acar.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

header img {
  filter: invert(100%) sepia(1%) saturate(35%) hue-rotate(144deg) brightness(113%) contrast(87%);
  height: 70px;
  width: 250px; }

header nav {
  background-color: #000000;
  height: 100px;
  border-radius: 5px; }
  header nav ul li {
    font-style: italic;
    font-size: 27px;
    letter-spacing: 1px;
    margin: 15px;
    border-radius: 10px; }
    header nav ul li:hover {
      text-decoration: underline; }

.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }

.navbar a {
  text-decoration: none;
  color: #EEEE; }

.navbar:hover {
  color: inherit; }

.navbar-collapse {
  background-color: #000000; }

.navbar-toggler {
  background-color: #EEEE; }

.productos div div {
  height: 200px;
  width: 150px;
  border: 1px solid black;
  margin: 20px;
  background-color: #000000bd;
  border-radius: 50px;
  display: inline-block; }

.hero {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .hero h1 {
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 10px; }
  .hero p {
    font-size: 20px;
    margin: 10px;
    letter-spacing: 1px; }
  .hero img {
    height: 500px;
    width: 700px; }

.historia {
  width: 75%;
  text-align: center;
  margin-bottom: 20px; }

.carousel-inner {
  width: 700px;
  margin-bottom: 40px; }

.p-cursos {
  text-align: center;
  margin-top: 40px; }
  .p-cursos a {
    text-decoration: none; }

.a-nosotros {
  color: #EEEE; }
  .a-nosotros:hover {
    text-decoration: underline; }

.about {
  width: 100;
  text-align: left;
  padding: 30px; }
  .about div h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 10px; }
  .about div p {
    font-size: 23px;
    width: 90%; }
  .about div img {
    padding: 20px;
    height: 150px;
    width: 230px;
    margin-top: 50px; }

.calificaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .calificaciones p {
    text-align: center; }

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center; }

.grid {
  width: 80%;
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 20px; }
  .grid div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 11px 8px 13px -4px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 11px 8px 13px -4px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 11px 8px 13px -4px rgba(0, 0, 0, 0.54);
    border: #EEEE solid 5px; }

.flex {
  display: flex;
  justify-content: center; }

.trabajo {
  text-align: center;
  width: 100; }
  .trabajo h1 {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px; }

.videos {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 30px; }
  .videos div iframe {
    border: #EEEE solid 5px;
    height: 250px;
    width: 500px; }

#rep {
  font-size: 14px; }

.productos {
  text-align: center;
  padding: 30px;
  width: 100; }
  .productos h1 {
    font-size: 30px;
    color: #EEEE;
    text-align: center;
    letter-spacing: 2px;
    margin: 0px; }
  .productos h2 {
    font-size: 20px;
    color: #EEEE;
    text-align: center;
    letter-spacing: 2px;
    margin: 10px; }
  .productos img {
    height: 120px;
    width: 120px;
    filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(33deg) brightness(103%) contrast(106%); }
    .productos img:hover {
      filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(139deg) brightness(100%) contrast(103%);
      transition: 0.5s; }
  .productos p {
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
    width: 100%;
    margin-top: 60px; }

.cursos {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .cursos div:hover {
    background-color: #EEEE;
    color: black;
    transition: 0.5s; }

.faq {
  padding-top: 10px;
  padding-bottom: 1px;
  margin-bottom: 20px;
  background-color: black;
  border: #272727 solid 2px;
  border-radius: 15px; }
  .faq h3 {
    margin: 15px;
    font-size: 30px; }

.accordion-button {
  background: black;
  background: linear-gradient(180deg, black 0%, #0e0e0e 100%);
  color: #EEEE;
  font-size: 23px; }

.accordion-collapse {
  background-color: #0E0E0E;
  font-size: 20px; }

.accordion-item {
  background-color: #0E0E0E; }

.otra-consulta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  font-size: large; }
  .otra-consulta p {
    font-size: 30px; }
  .otra-consulta a {
    font-size: 30px; }

.escribinos {
  margin-left: 5px;
  color: #d82121f1;
  font-size: large;
  text-decoration: none; }
  .escribinos:hover {
    text-decoration: underline; }

.animate__animated.animate__flash {
  --animate-duration: 2s; }

.contacto {
  width: 100%;
  background-image: url(../img/acar.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .contacto iframe {
    height: 450px;
    width: 450px;
    margin-top: 30px; }
  .contacto h1 {
    padding: 30px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 10px; }

.otros-medios {
  font-size: 20px;
  margin: 20px; }

.formulario {
  width: 450px;
  height: auto;
  margin: auto;
  background: rgba(88, 88, 88, 0.096);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px; }

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 7px; }

textarea {
  width: 410px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 7px; }

.boton input {
  background-color: black;
  color: #EEEE; }

.boton-fixed img {
  position: fixed;
  bottom: 20px;
  left: 100px;
  height: 87px;
  width: 87px; }

.animate__animated.animate__flash {
  --animate-duration: 2s; }

.chapa {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center; }
  .chapa h1 {
    padding-left: 80px;
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-left: 20px; }
  .chapa ul {
    margin-bottom: inherit;
    font-size: 25px;
    padding-left: 80px;
    margin-left: 20px; }

.programa-chapa {
  width: 50%; }

.imag-chapa {
  width: 70%; }
  .imag-chapa img {
    height: 250px;
    width: 350px;
    border: #EEEE solid 5px; }

.programa-pintura {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .programa-pintura h1 {
    padding-left: 80px;
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-left: 20px; }
  .programa-pintura ul {
    margin-bottom: inherit;
    font-size: 25px;
    padding-left: 80px;
    margin-left: 20px; }

.imag-pintura {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .imag-pintura img {
    height: 250px;
    width: 350px;
    border: #EEEE solid 5px; }

.sacabollos {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .sacabollos h1 {
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 25px; }
  .sacabollos p {
    font-size: 25px; }

.imag-sacabollos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .imag-sacabollos img {
    height: 250px;
    width: 350px;
    border: #EEEE solid 5px; }

.sacabollos-flex {
  width: 70%; }

.detallado {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .detallado h1 {
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 25px; }
  .detallado p {
    font-size: 25px; }

.programa-detallado {
  width: 70%; }

.imag-detallado {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .imag-detallado img {
    height: 250px;
    width: 350px;
    border: #EEEE solid 5px; }

.plasticos {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .plasticos h1 {
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 25px; }
  .plasticos p {
    font-size: 25px; }

.programa-rep {
  width: 70%; }

.imag-rep {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .imag-rep img {
    height: 250px;
    width: 350px;
    border: #EEEE solid 5px; }

footer {
  background-color: #000000;
  text-align: center; }
  footer div img {
    height: 80px;
    width: 80px;
    filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(33deg) brightness(103%) contrast(106%);
    padding: 20px; }
    footer div img:hover {
      filter: invert(23%) sepia(6%) saturate(94%) hue-rotate(201deg) brightness(97%) contrast(94%); }

@media screen and (max-width: 1089px) {
  header {
    height: 120px;
    background-color: #000000; } }

@media screen and (max-width: 991px) {
  header nav ul li {
    width: 30%;
    text-align: center;
    margin: 3px; }
  header nav ul {
    display: flex;
    align-items: flex-end; }
  .dropdown-menu li {
    width: auto; } }

@media screen and (max-width: 540px) {
  .rep-nav {
    font-size: 17px; }
  .info-nav {
    font-size: 17px; } }

@media screen and (max-width: 357px) {
  header nav img {
    width: 200px;
    height: 50px; } }

@media screen and (max-width: 450px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 1247px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px; } }

@media screen and (max-width: 1247px) {
  .hero {
    margin-top: 50px; }
  .imagenes {
    margin-bottom: 10px; }
  .historia {
    width: auto; } }

@media screen and (max-width: 851px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .hero img {
    width: 500px;
    height: 300px; }
  .carousel-inner {
    width: 500px; } }

@media screen and (max-width: 550px) {
  .hero h1 {
    font-size: 30px; }
  .hero p {
    font-size: 20px; }
  .hero img {
    width: 350px;
    height: 250px; }
  .carousel-inner {
    width: 350px; } }

@media screen and (max-width: 365px) {
  .hero h1 {
    font-size: 25px; }
  .hero p {
    font-size: 15px; }
  .hero img {
    width: 300px;
    height: 200px; }
  .carousel-inner {
    width: 300px; } }

@media screen and (max-width: 365px) {
  .about div h2 {
    font-size: 25px; }
  .about div p {
    font-size: 15px; }
  .about div img {
    padding: 20px;
    height: 80px;
    width: 160px;
    margin-top: 10px; } }

@media screen and (max-width: 620px) {
  .productos h2 {
    font-size: 25px; }
  .productos p {
    font-size: 30px; } }

@media screen and (max-width: 350px) {
  .productos p {
    font-size: 20px; } }

@media screen and (max-width: 1051px) {
  .videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px; } }

@media screen and (max-width: 810px) {
  .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 300px; }
  .videos video {
    height: 300px;
    width: 550px; } }

@media screen and (max-width: 670px) {
  .videos video {
    height: 250px;
    width: 500px;
    border: none; } }

@media screen and (max-width: 560px) {
  .videos video {
    height: 200px;
    width: 450px;
    border: none; }
  .grid {
    grid-auto-rows: 200px; } }

@media screen and (max-width: 490px) {
  .videos video {
    height: 150px;
    width: 300px;
    border: none; }
  .grid {
    grid-auto-rows: 150px; } }

@media screen and (max-width: 425px) {
  .videos video {
    height: 100px;
    width: 250px;
    border: none; }
  .grid {
    grid-auto-rows: 100px; } }

@media screen and (max-width: 930px) {
  .boton-fixed img {
    position: fixed;
    left: 70px; } }

@media screen and (max-width: 855px) {
  .boton-fixed img {
    position: fixed;
    left: 30px; } }

@media screen and (max-width: 725px) {
  .boton-fixed img {
    display: none; } }

@media screen and (max-width: 710px) {
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-left: 0px;
    margin-left: 0px; }
  .formulario {
    width: 100%; }
  .formulario div textarea {
    width: 100%; }
  .boton {
    width: fit-content; }
  .contacto iframe {
    height: 250px;
    width: 540px; } }

@media screen and (max-width: 535px) {
  .formulario {
    width: 100%; }
  .formulario div textarea {
    width: 100%; }
  .contacto iframe {
    height: 250px;
    width: 500px; } }

@media screen and (max-width: 520px) {
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .contacto h2 {
    font-size: 25px; }
  .contacto iframe {
    height: 200px;
    width: 450px; }
  .contacto div {
    margin: 1px; } }

@media screen and (max-width: 459px) {
  .contacto iframe {
    width: 400px; } }

@media screen and (max-width: 405px) {
  .contacto iframe {
    width: 350px; } }

@media screen and (max-width: 360px) {
  .contacto iframe {
    width: 330px; } }

@media screen and (max-width: 350px) {
  .formulario {
    width: 100%; }
  .formulario div textarea {
    width: 100%;
    height: 50px; }
  .contacto iframe {
    width: 280px; } }

@media screen and (max-width: 1252px) {
  .chapa img {
    width: 300px;
    height: 200px;
    margin-left: 20px; } }

@media screen and (max-width: 1142px) {
  .imag-chapa {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .imag-chapa img {
    height: 150px;
    width: 250px; } }

@media screen and (max-width: 790px) {
  .imag-chapa {
    display: flex;
    align-items: flex-end;
    width: fit-content; }
  .chapa {
    display: flex;
    justify-content: space-between; }
  .chapa h1 {
    font-size: 30px; }
  .chapa p {
    font-size: 20px; } }

@media screen and (max-width: 658px) {
  .chapa {
    display: flex;
    flex-direction: column-reverse; }
  .programa-chapa {
    margin-bottom: 10px;
    width: 100%; }
  .imag-chapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; } }

@media screen and (max-width: 400px) {
  .chapa h1 {
    font-size: 25px; }
  .chapa p {
    font-size: 15px; }
  .programa-chapa {
    text-align: start; } }

@media screen and (max-width: 1158px) {
  .pintura img {
    width: 300px;
    height: 200px;
    margin-left: 20px; } }

@media screen and (max-width: 730px) {
  .imag-pintura img {
    height: 150px;
    width: 250px; } }

@media screen and (max-width: 658px) {
  .programa-pintura {
    display: flex;
    flex-direction: column; }
  .programa-pintura {
    margin-bottom: 10px;
    width: 100%; }
  .imag-pintura {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; } }

@media screen and (max-width: 400px) {
  .imag-pintura h1 {
    font-size: 25px; }
  .pintura p {
    font-size: 15px; }
  .programa-pintura {
    text-align: start; } }

@media screen and (max-width: 840px) {
  .sacabollos-flex {
    width: 80%; }
  .imag-sacabollos img {
    height: 150px;
    width: 250px; } }

@media screen and (max-width: 580px) {
  .sacabollos h1 {
    font-size: 30px; }
  .sacabollos p {
    font-size: 20px; } }

@media screen and (max-width: 840px) {
  .programa-detallado {
    width: 80%; }
  .imag-detallado img {
    height: 150px;
    width: 250px; } }

@media screen and (max-width: 580px) {
  .detallado h1 {
    font-size: 30px; }
  .detallado p {
    font-size: 20px; } }

@media screen and (max-width: 840px) {
  .programa-reo {
    width: 80%; }
  .imag-rep img {
    height: 150px;
    width: 250px; } }

@media screen and (max-width: 580px) {
  .plasticos h1 {
    font-size: 30px; }
  .plasticos p {
    font-size: 20px; } }

@media screen and (max-width: 540px) {
  footer div img {
    height: 70px;
    width: 70px; } }
