@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #0E0E0E;
  font-family: 'Bebas Neue', cursive;
  color: #EEEE; }

.link-light {
  color: #EEEE; }
  .link-light a {
    color: #EEEE; }

header img {
  filter: invert(100%) sepia(1%) saturate(35%) hue-rotate(144deg) brightness(113%) contrast(87%);
  height: 70px;
  width: 250px; }

header nav {
  background-color: #d82121ab;
  height: 100px;
  border-radius: 5px; }
  header nav ul li {
    font-style: italic;
    font-size: 22px;
    margin: 15px;
    border-radius: 10px;
    background: #7a0215;
    background: linear-gradient(180deg, #7a0215 19%, rgba(32, 0, 12, 0.800158) 100%); }
    header nav ul li:hover {
      background: #3a0003;
      background: linear-gradient(180deg, #3a0003 19%, #040001 100%);
      transition: 0.3s; }

.navbar a {
  text-decoration: none;
  color: #EEEE; }

.navbar:hover {
  color: inherit; }

.dropdown-menu {
  background: #140001;
  background: linear-gradient(180deg, #3a0003 19%, #040001 100%);
  transition: 0.3s;
  border-radius: 10px; }
  .dropdown-menu:hover {
    background: #2e1617;
    background: linear-gradient(180deg, #3a0003 19%, #040001 100%);
    transition: 0.3s; }

.navbar-toggler {
  background: #7a0215;
  background: linear-gradient(180deg, #7a0215 19%, rgba(32, 0, 12, 0.800158) 100%); }

.productos div div {
  height: 200px;
  width: 150px;
  border: 1px solid black;
  margin: 20px;
  background-color: #000000bd;
  border-radius: 50px;
  display: inline-block; }

.hero {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .hero h1 {
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 10px; }
  .hero p {
    font-size: 20px;
    margin: 10px;
    letter-spacing: 1px; }
  .hero img {
    height: 500px;
    width: 700px;
    border: #EEEE solid 3px; }

.historia {
  width: 75%;
  text-align: center;
  margin-bottom: 20px; }

.carousel-inner {
  width: 700px;
  margin-bottom: 40px; }

.p-cursos {
  text-align: center;
  margin-top: 40px; }
  .p-cursos a {
    text-decoration: none; }

.a-nosotros {
  color: #d82121ab; }

#rep {
  font-size: 14px; }

.productos {
  text-align: center;
  padding: 30px;
  width: 100; }
  .productos h1 {
    font-size: 30px;
    color: #EEEE;
    text-align: center;
    letter-spacing: 2px;
    margin: 0px; }
  .productos h2 {
    font-size: 20px;
    color: #EEEE;
    text-align: center;
    letter-spacing: 2px;
    margin: 10px; }
  .productos img {
    height: 120px;
    width: 120px;
    filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(33deg) brightness(103%) contrast(106%); }
    .productos img:hover {
      filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(139deg) brightness(100%) contrast(103%);
      transition: 0.5s; }
  .productos p {
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
    width: 100%;
    margin-top: 60px; }

.cursos {
  margin-top: 40px; }
  .cursos div:hover {
    background-color: #EEEE;
    color: black;
    transition: 0.5s; }

.faq h3 {
  margin: 15px;
  font-size: 30px; }

.accordion-button {
  background: black;
  background: linear-gradient(180deg, black 0%, #0e0e0e 100%);
  color: #EEEE;
  font-size: 23px; }

.accordion-collapse {
  background-color: #0E0E0E;
  font-size: 20px;
  border: #EEEE solid 1px; }

.accordion-item {
  background-color: #0E0E0E; }

.otra-consulta {
  display: flex;
  flex-direction: row;
  margin: 15px;
  font-size: large; }

.escribinos {
  margin-left: 5px;
  text-decoration: underline;
  color: #d82121f1;
  font-size: large; }

.animate__animated.animate__flash {
  --animate-duration: 2s; }

footer {
  background-color: #d82121ab;
  text-align: center; }
  footer div img {
    height: 90px;
    width: 90px;
    filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(33deg) brightness(103%) contrast(106%);
    padding: 20px; }
    footer div img:hover {
      filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(139deg) brightness(100%) contrast(103%);
      transition: 0.3s; }

@media screen and (max-width: 991px) {
  header nav ul li {
    width: 30%;
    text-align: center;
    margin: 3px; }
  header nav ul {
    display: flex;
    align-items: flex-end; }
  .dropdown-menu li {
    width: auto; } }

@media screen and (max-width: 1247px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px; } }

@media screen and (max-width: 1247px) {
  .hero {
    margin-top: 50px; }
  .imagenes {
    margin-bottom: 10px; }
  .historia {
    width: auto; } }

@media screen and (max-width: 851px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .hero img {
    width: 500px;
    height: 300px; }
  .carousel-inner {
    width: 500px; } }

@media screen and (max-width: 550px) {
  .hero h1 {
    font-size: 30px; }
  .hero p {
    font-size: 20px; }
  .hero img {
    width: 350px;
    height: 250px; }
  .carousel-inner {
    width: 350px; } }

@media screen and (max-width: 365px) {
  .hero h1 {
    font-size: 25px; }
  .hero p {
    font-size: 15px; }
  .hero img {
    width: 300px;
    height: 200px; }
  .carousel-inner {
    width: 300px; } }

@media screen and (max-width: 540px) {
  footer div img {
    height: 70px;
    width: 70px; } }
