@import "../base/variables";

header {
    img {
        filter: invert(100%) sepia(1%) saturate(35%) hue-rotate(144deg) brightness(113%) contrast(87%);
        height: 70px;
        width: 250px;}
    nav {
        background-color: $color-principal;
        height: 100px;
        border-radius: 5px;
        ul {
            li {
                font-style: italic;
                font-size: 27px;
                letter-spacing: 1px;
                margin: 15px;
                border-radius: 10px;
                &:hover {text-decoration: underline;}
            }
        }
    }
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.navbar {
    a{text-decoration: none;
    color: #EEEE;}
    &:hover {color: inherit;}}

.navbar-collapse {background-color: $color-principal;
z-index: 99999999;}

.navbar-toggler {
    background-color: #EEEE;}

