header {
    img {
        filter: invert(100%) sepia(1%) saturate(35%) hue-rotate(144deg) brightness(113%) contrast(87%);
        height: 70px;
        width: 250px;}
    nav {
        background-color: #d82121ab;
        height: 100px;
        border-radius: 5px;
        ul {
            li {
                font-style: italic;
                font-size: 22px;
                margin: 15px;
                border-radius: 10px;
                background: rgb(122, 2, 21);
                background: linear-gradient(180deg, rgba(122, 2, 21, 1) 19%, rgba(32, 0, 12, 0.80015756302521) 100%);
                &:hover {
                    background: rgb(58, 0, 3);
                    background: linear-gradient(180deg, rgba(58, 0, 3, 1) 19%, rgba(4, 0, 1, 1) 100%);
                    transition: 0.3s;}
            }
        }
    }
}

.navbar {
    a{text-decoration: none;
    color: #EEEE;}
    &:hover {color: inherit;}
}

.dropdown-menu {
    background: rgb(20, 0, 1);
    background: linear-gradient(180deg, rgba(58, 0, 3, 1) 19%, rgba(4, 0, 1, 1) 100%);
    transition: 0.3s;
    border-radius: 10px;
    &:hover {
        background: rgb(46, 22, 23);
        background: linear-gradient(180deg, rgba(58, 0, 3, 1) 19%, rgba(4, 0, 1, 1) 100%);
        transition: 0.3s;
    }
}

.navbar-toggler {
    background: rgb(122, 2, 21);
    background: linear-gradient(180deg, rgba(122, 2, 21, 1) 19%, rgba(32, 0, 12, 0.80015756302521) 100%);}

@media screen and (max-width:991px) {
    header nav ul li {width: 30%;
    text-align: center;
    margin: 3px;}
    header nav ul {display: flex;
    align-items: flex-end;}
    .dropdown-menu li {width: auto;}
    }
