//index 

@import "../base/variables";
@import "../base/extend";
@import "../base/maps";
@import "../base/mixins";

.hero {
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 35px;
        letter-spacing: 2px;
        margin-bottom: 10px;}
    p {
        font-size: 20px;
        margin: 10px;
        letter-spacing: 1px;}
    img {
        height: 500px;
        width: 700px;
        border: $color-fuentes-principales solid 3px;}
}

.historia {
    width: 75%;
    text-align: center;
    margin-bottom: 20px;
}

.carousel-inner {
    width: 700px;
    margin-bottom: 40px;
}

.p-cursos {
    text-align: center;
    margin-top: 40px;
        a {text-decoration: none;}
}

.a-nosotros {color: $color-principal;}

//cursos

#rep {font-size: 14px}

.productos {
    text-align: center;
    padding: 30px;
    width: 100;
    h1 {@include fuentes(30px, #EEEE, center, 2px, 0px)
    }
    h2 {@include fuentes(20px, #EEEE, center, 2px, 10px)}
    img {&:hover {filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(139deg) brightness(100%) contrast(103%);
        transition: 0.5s;}
        height: 120px;
        width: 120px;
        filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(33deg) brightness(103%) contrast(106%);}
    div {div {@extend %diseño-contenedores-cursos}}
    p {font-size: 35px;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 10px;
        width: 100%;
        margin-top: 60px;}
}

.cursos {
    margin-top: 40px;
    div {&:hover {background-color: $color-fuentes-principales;
        color: black;
        transition: 0.5s;}}
}

.faq {h3 {margin: 15px;
    font-size: 30px;}}

.accordion-button {
    background: map-get($diseño-acordion, bg-color);
    background: map-get($diseño-acordion, bg-gradient);
    color: map-get($diseño-acordion, color-acordion);
    font-size: map-get($diseño-acordion, fuente-acordion);
}

.accordion-collapse {
    background-color: #0E0E0E;
    font-size: 20px;
    border: $color-fuentes-principales solid 1px;
}

.accordion-item {
    background-color: #0E0E0E;}

.otra-consulta {
    display: flex;
    flex-direction: row;
    margin: 15px;
    font-size: large;
}

.escribinos {
    margin-left: 5px;
    text-decoration: underline;
    color: #d82121f1;
    font-size: large;
}



