//header

@media screen and (max-width:1089px) {
    header {height: 120px;
    background-color: $color-principal;}}

@media screen and (max-width:991px) {
    header nav ul li {width: 30%;
    text-align: center;
    margin: 3px;}
    header nav ul {display: flex;
    align-items: flex-end;}
    .dropdown-menu li {width: auto;}
    }

@media screen and (max-width:540px) {
    .rep-nav {font-size: 17px;}
    .info-nav {font-size: 17px;}
}

@media screen and (max-width:357px) {
    header nav img {width: 200px;
    height: 50px;}
}

@media screen and (max-width:450px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

//index

@media screen and (max-width:1247px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }
}

@media screen and (max-width:1247px) {
    .hero {
        margin-top: 50px;
    }

    .imagenes {
        margin-bottom: 10px;
    }

    .historia {
        width: auto;
    }
}

@media screen and (max-width:851px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero img {width: 500px;
    height: 300px;}

    .carousel-inner {width: 500px;}
}

@media screen and (max-width:550px) {
    .hero h1 {font-size: 30px;}

    .hero p {font-size: 20px;}
    
    .hero img {width: 350px;
    height: 250px;}

    .carousel-inner {width: 350px;}
}

@media screen and (max-width:365px) {
    .hero h1 {
        font-size: 25px;
    }

    .hero p {
        font-size: 15px;
    }

    .hero img {width: 300px;
    height: 200px;}

    .carousel-inner {width: 300px;}
}

//nosotros

@media screen and (max-width:365px) {
    .about div h2 {
        font-size: 25px;
    }

    .about div p {
        font-size: 15px;
    }

    .about div img {
        padding: 20px;
        height: 80px;
        width: 160px;
        margin-top: 10px;
    }
}

//cursos

@media screen and (max-width:620px) {
    .productos h2 {
        font-size: 25px;
    }

    .productos p {
        font-size: 30px;
    }
}

@media screen and (max-width:350px) {
    .productos p {
        font-size: 20px;
    }
}

//trabajo

@media screen and (max-width:1051px) {
    .videos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 200px;
    }
}

@media screen and (max-width:810px) {
    .grid {
        grid-template-columns: 1fr;
        grid-auto-rows: 300px;
    }

    .videos video {
        height: 300px;
        width: 550px;
    }
}

@media screen and (max-width:670px) {
    .videos video {
        height: 250px;
        width: 500px;
        border: none;
    }
}

@media screen and (max-width:560px) {
    .videos video {
        height: 200px;
        width: 450px;
        border: none;
    }

    .grid {
        grid-auto-rows: 200px;
    }
}

@media screen and (max-width:490px) {
    .videos video {
        height: 150px;
        width: 300px;
        border: none;
    }

    .grid {
        grid-auto-rows: 150px;
    }
}

@media screen and (max-width:425px) {
    .videos video {
        height: 100px;
        width: 250px;
        border: none;
    }

    .grid {
        grid-auto-rows: 100px;
    }
}

//contacto

@media screen and (max-width:930px) {
    .boton-fixed img {
        position: fixed;
        left: 70px;
    }
}

@media screen and (max-width:855px) {
    .boton-fixed img {
        position: fixed;
        left: 30px;
    }
}

@media screen and (max-width:725px) {
    .boton-fixed img {
        display: none;}
}

@media screen and (max-width:710px) {
    .contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        margin-left: 0px;
        margin-left: 0px;}

    .formulario {width: 100%;}

    .formulario div textarea {width: 100%;}

    .boton {width: fit-content;}
    
    .contacto iframe {
        height: 250px;
        width: 540px;}
}

@media screen and (max-width:535px) {
    .formulario {width: 100%;}
    
    .formulario div textarea {width: 100%;}
    
    .contacto iframe {
        height: 250px;
        width: 500px;}
}

@media screen and (max-width:520px) {
    .contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contacto h2 {
        font-size: 25px;
    }

    .contacto iframe {
        height: 200px;
        width: 450px;
    }

    .contacto div {
        margin: 1px;
    }
}

@media screen and (max-width:459px) {
.contacto iframe {width: 400px;}
}

@media screen and (max-width:405px) {
    .contacto iframe {width: 350px;}
}

    @media screen and (max-width:360px) {
    .contacto iframe {width: 330px;}
}

@media screen and (max-width:350px) {
    .formulario {width: 100%;}
    
    .formulario div textarea {width: 100%;
    height: 50px;}
        .contacto iframe {width: 280px;}
}

//curso chapa

@media screen and (max-width:1252px) {
.chapa img {width: 300px;
    height: 200px;
    margin-left: 20px;}
}

@media screen and (max-width:1142px) {
    .imag-chapa {display: flex;
        flex-direction: column;
        align-items: center;}
    .imag-chapa img {height: 150px;
        width: 250px;}
    }

@media screen and (max-width:790px) {
    .imag-chapa {display: flex;
    align-items: flex-end;
    width: fit-content;}
    .chapa {display: flex;
    justify-content: space-between;}
    .chapa h1 {font-size: 30px;}
    .chapa p {font-size: 20px;}
}

@media screen and (max-width:658px) {
    .chapa {display: flex;
    flex-direction: column-reverse;}
    .programa-chapa {margin-bottom: 10px;
    width: 100%;}
    .imag-chapa {display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;}
}

@media screen and (max-width:400px) {
    .chapa h1 {font-size: 25px;}
    .chapa p {font-size: 15px;}
    .programa-chapa {text-align: start;}
}

//curso pintura

@media screen and (max-width:1158px) {
    .pintura img {width: 300px;
        height: 200px;
        margin-left: 20px;}
    }

@media screen and (max-width:730px) {
    .imag-pintura img {height: 150px;
        width: 250px;}
}

@media screen and (max-width:658px) {
    .programa-pintura {display: flex;
    flex-direction: column;}
    .programa-pintura {margin-bottom: 10px;
    width: 100%;}
    .imag-pintura {width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;}
}

@media screen and (max-width:400px) {
    .imag-pintura h1 {font-size: 25px;}
    .pintura p {font-size: 15px;}
    .programa-pintura {text-align: start;}
}

//curso sacabollos

@media screen and (max-width:840px) {
    .sacabollos-flex {width: 80%;}
    .imag-sacabollos img {height: 150px;
        width: 250px;}
}

@media screen and (max-width:580px) {
    .sacabollos h1 {font-size: 30px;}
    .sacabollos p {font-size: 20px;}
}

//curso detallado

@media screen and (max-width:840px) {
    .programa-detallado {width: 80%;}
    .imag-detallado img {height: 150px;
        width: 250px;}
}

@media screen and (max-width:580px) {
    .detallado h1 {font-size: 30px;}
    .detallado p {font-size: 20px;}
}

//curso rep plasticos

@media screen and (max-width:840px) {
    .programa-reo {width: 80%;}
    .imag-rep img {height: 150px;
        width: 250px;}
}

@media screen and (max-width:580px) {
    .plasticos h1 {font-size: 30px;}
    .plasticos p {font-size: 20px;}
}

//footer

@media screen and (max-width:540px) {
    footer div img {height: 70px;
    width: 70px;}
}
