%diseño-contenedores-cursos {
    height: 200px;
    width: 150px;
    border: 1px solid black;
    margin: 20px;
    background-color: #000000bd;
    border-radius: 50px;
    display: inline-block;
}

%flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



