@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/fondo.jpg);
    font-family: 'Bebas Neue', cursive;
    color: #EEEE;
}

.link-light {
    color: #EEEE;
    a {color:#EEEE}
}