@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/fondo.jpg);
    font-family: 'Bebas Neue', cursive;
    color: #EEEE;
}

.link-light {
    color: #EEEE;
    a {color:#EEEE}
}

.boton-curso {
    display: flex;
    justify-content: center;
    a {text-decoration: none;
        color: #EEEE;}
    p {background-color: #d82121f1;
        border-radius: 7px;
        padding: 5px;
        font-size: 20px;
        &:hover {text-decoration: underline;
            background-color: #b11f33f1;}}
}

.cursos-main {background-image: url(../img/acar.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;}